.header {
  position: relative;
  @include f-center;
  width: 100%;
  height: 100vh;

  .bg-text {
    z-index: -10;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    @include f-center;
    animation: bg-text 5s infinite ease-in-out alternate;

    h2 {
      opacity: 0.8;
      font-size: 280px;
      font-weight: 900;
      color: white;
      transform: scale(0.9);
    }
  }

  @keyframes bg-text {
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(0.99);
    }
  }
  .container {
    width: 100%;
    position: relative;
    @include f-center;
    height: 100vh;

    .l-container {
      display: flex;
      .welcome {
        padding: 20px 0;
        font-family: $Nunito;
        font-weight: 700;
        color: $color1;

        span {
          display: block;
          font-weight: 800;
          font-family: Montserrat;
          font-size: 48px;
          line-height: 56px;
          margin: 5px 0;
          padding-left: 10px;
          font-weight: 800;
          letter-spacing: -2px;
        }

        h1 {
          font-family: Montserrat;
          font-size: 4rem;
          line-height: 63px;
          font-weight: 800;
          letter-spacing: -2px;
        }
      }

      .box {
        position: relative;
        padding: 20px;
        padding-top: 40px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
        @include shadow;

        @media screen and (max-width: 600px) {
          padding: 15px;
        }

        p {
          display: block;
          background-color: $color3;
          padding: 10px;
          margin: 10px;
          border-radius: 7px;
        }

        .cv-container {
          width: fit-content;
          padding: 12px 40px;
          position: absolute;
          top: 15px;
          right: 30px;
          background-color: $color2;
          border-radius: 7px;

          a {
            text-transform: uppercase;
            color: white;
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }

    .r-container {
      width: 100%;
      @include f-center;
    }
  }
}
