@font-face {
  font-family: Montserrat;
  src: url("./../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: Nunito;
  src: url("./../assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: Rubik;
  src: url("./../assets/fonts/Rubik-VariableFont_wght.ttf");
}

// fonts 
$Monteserrat : Montserrat;
$Nunito : Nunito;
$Rubik : Rubik;

// colors
$color1 : #3b3663;
$color2 :#f47514;
$color3 : rgba(144, 144, 144, 0.158);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $Rubik;
}

@mixin f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;

  li {
    list-style: none;
  }
}

a,
a:visited {
  text-decoration: none;
  color: black;

}